<%-include('header.ejs')%>
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Users List</h2>
    </div>
    <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <header class="card-header">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Status</th>
                                    <th class="text-end"> Action </th>
                                </tr>
                            </thead>
                        </header>
                            <tbody>
                                <%if(users.length > 0) {
                                    for(let i = 0; i < users.length; i++) { %>                               
                                 <tr>
                                    <td width="40%">
                                        <a href="#" class="itemside">
                                            
                                            <div class="info pl-3">
                                                <h6 class="mb-0 title"><%= users[i].name %></h6>
                                            </div>
                                        </a>
                                    </td>
                                    <td><%= users[i].email %></td>
                                    
                                    <td><%= users[i].phone %></td>
                                    <td>
                                        <%if(users[i].is_varified==1){%>
                                            <span class="badge rounded-pill alert-success">Active</span>
                                        <%}else{%>
                                            <span class="badge rounded-pill alert-danger">Unactive</span>
                                            <%}%>
                                        </td>
                                    <td class="text-end">
                                        <form id="myForm_<%=i%>" action="/admin/blockCustomer" method="post">
                                            <input type="hidden" name="is_varified" value="<%=users[i].is_varified %>">
                                            <input type="hidden" name="id" value="<%=users[i]._id %>">
                                        <%
                                        if(users[i].is_varified == 1) {%>
                                            <button type="button"  onclick="confirmSubmission('<%=i%>')" class="badge badge-sm alert-success">block</button>
                                            <%} else {%>
                                                <button type="button"  onclick="confirmSubmission1('<%=i%>')" class="badge badge-sm alert-danger">unblock</button>
                                            <%}%> 
                                        </form>                                    
                                    </td>
                                    
                                </tr>
                                <% } %>
                                <%}  else { %>
                            <tr>
                                <td colspan="6">User Not Found</td>
                            </tr>
                            <% }%>      
                            </tbody>
                        </table> 
                    </div>
                </div> 
            </div> 
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <% if (i === currentPage) { %>
                                <li class="page-item active"><a class="page-link" href="#"><%= i.toString().padStart(2, '0') %></a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="/admin/customer?page=<%= i %>"><%= i.toString().padStart(2, '0') %></a></li>
                            <% } %>
                        <% } %>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="/admin/customer?page=<%= totalPages %>"><%= totalPages.toString().padStart(2, '0') %></a></li>
                        <li class="page-item">
                            <a class="page-link" href="/admin/customer?page=<%= currentPage < totalPages ? currentPage + 1 : 1 %>">
                                <i class="material-icons md-chevron_right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        </section> 
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, 999 bookstore .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/assets1/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets1/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets1/js/vendors/select2.min.js"></script>
    <script src="/assets1/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets1/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/assets1/js/main.js" type="text/javascript"></script>

    <script>
        function confirmSubmission(index) {
          Swal.fire({
            title: 'Are you sure?',
            text: 'You want to block this customer.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes !',
            cancelButtonText: 'Cancel'
          }).then((result) => {
            if (result.isConfirmed) {
              document.getElementById(`myForm_${index}`).submit();
            }
          });
        }
        function confirmSubmission1(index) {
          Swal.fire({
            title: 'Are you sure?',
            text: 'You want to unblock this customer.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes  !',
            cancelButtonText: 'Cancel'
          }).then((result) => {
            if (result.isConfirmed) {
              document.getElementById(`myForm_${index}`).submit();
            }
          });
        }
    
      </script>
       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>


</html>