<%-include('header.ejs')%>

<<<<<<< HEAD
=======

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets1/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets1/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/assets1/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/product">Product List</a>
                        <a href="/admin/addproduct">Add product </a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/order">Order list </a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Category</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/category">Category List</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/customer">Users List</a>
                    </div>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Coupon</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/coupon">Coupon List</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Banner Management</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/banner">Banner List</a>
                        <!-- <a href="/admin/addbanner">Add Banner </a> -->
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/assets1/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/assets1/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/assets1/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/assets1/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets1/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
>>>>>>> fc8eab72c714a5c12b7a73c2d7c60a5b33ce4805
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Coupon</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form action="" id="addingForm" method="POST">
<<<<<<< HEAD
=======
                                <!-- Coupon Name -->
>>>>>>> fc8eab72c714a5c12b7a73c2d7c60a5b33ce4805
                                <div class="mb-4">
                                    <label for="couponname" class="form-label">Coupon Name</label>
                                    <input type="text" name="couponname" value="<%=couponData.couponCode%>" class="form-control" id="couponname">
                                    <div id="couponNameError" class="error" style=" color: red; display: none;"></div>
                                </div>
                            
                                <div class="mb-3">
                                    <label for="couponDate" class="form-label">Expiry Date</label>
                                    <%const newDate = new Date(couponData.expiryDate)%>
                                    <%const year = newDate.getFullYear()%>
                                    <%const month = newDate.getMonth()+1%>
                                    <%const day = newDate.getDate()%>
                                    <%const formattedDate = `${year}-${month<10?0:''}${month}-${day<10?0:''}${day}`%>
                                    <input type="date" name="expdate" value="<%=formattedDate%>" class="form-control" id="couponDate">
                                    <div id="expiryDateError" class="error" style=" color: red; display: none;"></div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Flat Discount</label>
                                    <input name="discount" value="<%=couponData.Discount%>" type="text" id="discount" class="form-control">
                                    <div id="discountError" class="error" style=" color: red; display: none;"></div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Limit</label>
                                    <input type="text" value="<%=couponData.Limit%>" name="limit" class="form-control" id="limit">
                                    <input type="hidden" value="<%=couponData._id%>" name="id" id="couponid1">
                                    <div id="limitError" class="error" style=" color: red; display: none;"></div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Minimum Purchase</label>
                                    <input type="text" value="<%=couponData.minPurchase%>" name="minPurchase" class="form-control" id="minPurchase">
                                    <div id="minPurchaseError" class="error" style=" color: red; display: none;"></div>
                                </div>
                            
                                <div class="text-center mt-4">
                                    <button type="button" onclick="validateForm()" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
<<<<<<< HEAD
=======
                            <script>


                                function submitForm(){
                                    const couponname = document.getElementById('couponname').value
                                    const couponDate = document.getElementById('couponDate').value
                                    const discount = document.getElementById('discount').value
                                    const minPurchase = document.getElementById('minPurchase').value
                                    const limit = document.getElementById('limit').value
                                    const id = document.getElementById('couponid1').value
                                    fetch('/admin/editCoupon',{
                                        method:'POST',
                                        headers:{
                                            'Content-Type':'application/json'
                                        },
                                        body:JSON.stringify({
                                            
                                            couponname:couponname,
                                            couponDate:couponDate,
                                            discount:discount,
                                            limit:limit,
                                            minPurchase:minPurchase,
                                            id:id
                                        })
                                    })
                                    .then(res=>{
                                        if(res.ok){
                                            return res.json()
                                        }
                                    })
                                    .then(data => {
                                        if (data.message == 'Success') {
                                            console.log("success");
                                            window.location.href = '/admin/coupon';
                                        }else if(data.message == 'Failed'){
                                            couponNameError.innerText = 'Coupon Name already exist..';
                                            couponNameError.style.display = 'block';
                                        }
                                    })
                                    .catch(err=>{
                                        console.log(err.message)
                                    })
                                }






                                function validateForm() {
                                    let isValid = true;
                            
                                    const couponName = document.getElementById('couponname');
                                    const couponDate = document.getElementById('couponDate');
                                    const discount = document.getElementById('discount');
                                    const limit = document.getElementById('limit');
                                    const minPurchase = document.getElementById('minPurchase');
                            
                                    const couponNameError = document.getElementById('couponNameError');
                                    const expiryDateError = document.getElementById('expiryDateError');
                                    const discountError = document.getElementById('discountError');
                                    const limitError = document.getElementById('limitError');
                                    const minPurchaseError = document.getElementById('minPurchaseError');
                            
                                    if (couponName.value.trim() === '') {
                                        couponNameError.innerText = 'Coupon Name is required';
                                        couponNameError.style.display = 'block';
                                        isValid = false;
                                    } else {
                                        couponNameError.style.display = 'none';
                                    }
                            
                            
                                    if (couponDate.value === '') {
                                        expiryDateError.innerText = 'Expiry Date is required';
                                        expiryDateError.style.display = 'block';
                                        isValid = false;
                                    } else {
                                        expiryDateError.style.display = 'none';
                                    }
                            
                                    
                                    if (discount.value.trim() === '') {
                                        discountError.innerText = 'Flat Discount is required';
                                        discountError.style.display = 'block';
                                        isValid = false;
                                    } else if (isNaN(discount.value)) {
                                        discountError.innerText = 'Flat Discount must be a number';
                                        discountError.style.display = 'block';
                                        isValid = false;
                                    } else if (parseFloat(discount.value) < 0) {
                                        discountError.innerText = 'Flat Discount cannot be negative';
                                        discountError.style.display = 'block';
                                        isValid = false;
                                    } else {
                                        discountError.style.display = 'none';
                                    }
                            
                                 
                                    if (limit.value.trim() === '') {
                                        limitError.innerText = 'Limit is required';
                                        limitError.style.display = 'block';
                                        isValid = false;
                                    } else if (isNaN(limit.value)) {
                                        limitError.innerText = 'Limit must be a number';
                                        limitError.style.display = 'block';
                                        isValid = false;
                                    } else if (parseFloat(limit.value) < 0) {
                                        limitError.innerText = 'Limit cannot be negative';
                                        limitError.style.display = 'block';
                                        isValid = false;
                                    } else {
                                        limitError.style.display = 'none';
                                    }
                            
                                    // Validation for min purchase (dummy validation)
                                    if (minPurchase.value.trim() === '') {
                                        minPurchaseError.innerText = 'Minimum Purchase is required';
                                        minPurchaseError.style.display = 'block';
                                        isValid = false;
                                    } else if (isNaN(minPurchase.value)) {
                                        minPurchaseError.innerText = 'Minimum Purchase must be a number';
                                        minPurchaseError.style.display = 'block';
                                        isValid = false;
                                    } else if (parseFloat(minPurchase.value) < 0) {
                                        minPurchaseError.innerText = 'Minimum Purchase cannot be negative';
                                        minPurchaseError.style.display = 'block';
                                        isValid = false;
                                    } else if (parseFloat(minPurchase.value) < parseFloat(discount .value)) {
                                    minPurchaseError.innerText = 'Minimum Purchase cannot be less than Discound';
                                    minPurchaseError.style.display = 'block';
                                    isValid = false;
                                    } else {
                                        minPurchaseError.style.display = 'none';
                                    }
                            
                                    if(isValid===true){
                                        const addingForm = document.getElementById('addingForm')
                                        submitForm()
                                    }else{
                                        console.log("fucked up")
                                        return false
                                    }
                                }
                            </script>
>>>>>>> fc8eab72c714a5c12b7a73c2d7c60a5b33ce4805
                        </div>
                    </div> 
                   
                </div>
            </div>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, 999 bookstore .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/assets1/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets1/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets1/js/vendors/select2.min.js"></script>
    <script src="/assets1/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets1/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/assets1/js/main.js" type="text/javascript"></script>
    <script>
        function submitForm(){
            const couponname = document.getElementById('couponname').value
            const couponDate = document.getElementById('couponDate').value
            const discount = document.getElementById('discount').value
            const minPurchase = document.getElementById('minPurchase').value
            const limit = document.getElementById('limit').value
            const id = document.getElementById('couponid1').value
            fetch('/admin/editCoupon',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({
                    
                    couponname:couponname,
                    couponDate:couponDate,
                    discount:discount,
                    limit:limit,
                    minPurchase:minPurchase,
                    id:id
                })
            })
            .then(res=>{
                if(res.ok){
                    return res.json()
                }
            })
            .then(data => {
                if (data.message == 'Success') {
                    console.log("success");
                    window.location.href = '/admin/coupon';
                }else if(data.message == 'Failed'){
                    couponNameError.innerText = 'Coupon Name already exist..';
                    couponNameError.style.display = 'block';
                }
            })
            .catch(err=>{
                console.log(err.message)
            })
        }

        function validateForm() {
            let isValid = true;
    
            const couponName = document.getElementById('couponname');
            const couponDate = document.getElementById('couponDate');
            const discount = document.getElementById('discount');
            const limit = document.getElementById('limit');
            const minPurchase = document.getElementById('minPurchase');
    
            const couponNameError = document.getElementById('couponNameError');
            const expiryDateError = document.getElementById('expiryDateError');
            const discountError = document.getElementById('discountError');
            const limitError = document.getElementById('limitError');
            const minPurchaseError = document.getElementById('minPurchaseError');
    
            if (couponName.value.trim() === '') {
                couponNameError.innerText = 'Coupon Name is required';
                couponNameError.style.display = 'block';
                isValid = false;
            } else {
                couponNameError.style.display = 'none';
            }
    
    
            if (couponDate.value === '') {
                expiryDateError.innerText = 'Expiry Date is required';
                expiryDateError.style.display = 'block';
                isValid = false;
            } else {
                expiryDateError.style.display = 'none';
            }
    
            
            if (discount.value.trim() === '') {
                discountError.innerText = 'Flat Discount is required';
                discountError.style.display = 'block';
                isValid = false;
            } else if (isNaN(discount.value)) {
                discountError.innerText = 'Flat Discount must be a number';
                discountError.style.display = 'block';
                isValid = false;
            } else if (parseFloat(discount.value) < 0) {
                discountError.innerText = 'Flat Discount cannot be negative';
                discountError.style.display = 'block';
                isValid = false;
            } else {
                discountError.style.display = 'none';
            }
    
         
            if (limit.value.trim() === '') {
                limitError.innerText = 'Limit is required';
                limitError.style.display = 'block';
                isValid = false;
            } else if (isNaN(limit.value)) {
                limitError.innerText = 'Limit must be a number';
                limitError.style.display = 'block';
                isValid = false;
            } else if (parseFloat(limit.value) < 0) {
                limitError.innerText = 'Limit cannot be negative';
                limitError.style.display = 'block';
                isValid = false;
            } else {
                limitError.style.display = 'none';
            }
    
            if (minPurchase.value.trim() === '') {
                minPurchaseError.innerText = 'Minimum Purchase is required';
                minPurchaseError.style.display = 'block';
                isValid = false;
            } else if (isNaN(minPurchase.value)) {
                minPurchaseError.innerText = 'Minimum Purchase must be a number';
                minPurchaseError.style.display = 'block';
                isValid = false;
            } else if (parseFloat(minPurchase.value) < 0) {
                minPurchaseError.innerText = 'Minimum Purchase cannot be negative';
                minPurchaseError.style.display = 'block';
                isValid = false;
            } else if (parseFloat(minPurchase.value) < parseFloat(discount .value)) {
            minPurchaseError.innerText = 'Minimum Purchase cannot be less than Discound';
            minPurchaseError.style.display = 'block';
            isValid = false;
            } else {
                minPurchaseError.style.display = 'none';
            }
    
            if(isValid===true){
                const addingForm = document.getElementById('addingForm')
                submitForm()
            }else{
                console.log("fucked up")
                return false
            }
        }
    </script>
</body>


</html>